#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: blue;
}

.login-section {
  display: flex;
  flex-direction: column;
}

.login-section h2{
  font-size: 2rem;
  color: orange;
}

input {
  padding: 15px 5px;
  margin: 0 0 15px 0
}

.profile-text {
  margin-top: 10px;
  font-size: 1.75rem;
}

#userName{
  color: lightgreen;
}

#warning{
  color: red;
}